/* 

Общие настройки

*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*
@media (max-height: 900px) {
  form {
    transition: scale(0.7)
  }
}
*/
body {
  height: 100vh;
  background-color: #f4f4f4;
  font-family: "Noto Sans", sans-serif;
  overflow: hidden;
  background-color: #75B72C;
}

/*

Настойки слайдера

*/

.slider-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-bottom: 20px;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #007bff;
    transition: transform 0.5s ease-in-out;
}


#slide1 {
  background-color: #75B72C;
}

#slide2 {
    background-color: #75B72C;
    transform: translateY(100%);
   
}

/*

Настройка формы

*/
.star-required {
  color: red;
}

form {
  width: 500px;
  margin: 0 auto;
  padding: 60px;
  border-radius: 19px;
  background-color: #fff;
  color: #000;

  transform: scale(0.7);


  -webkit-box-shadow: 10px 10px 14px -7px rgba(0,0,0,0.3);
  -moz-box-shadow: 10px 10px 14px -7px rgba(0,0,0,0.3);
  box-shadow: 10px 10px 14px -7px rgba(0,0,0,0.3);
}


.logo img {
  width: calc(1786px / 7);
  height: calc(1259px / 7);
  display: block;
  margin: 0 auto;
}

.main-txt {
  font-size: 19px;
  text-align: center;
  color: #75B72C;
}

label, input {
  display: block;
  width: 100%;
  margin-bottom: 5px;
}

label {
  margin-top: 40px;
  font-size: 20px;
  opacity: .9;

}

label[for="fullname"],
label[for="phone"],
label[for="hectares"] {
  transform: translateX(-12px);

}

input {
  padding: 10px;
  font-size: 15px;
}

input[type="submit"] {
  margin-top: 20px;
  width: 100%;
  padding: 10px 20px;
  background-color: #75B72C;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: #609624;
    transition: .5s;
  }
}

.range-container {
  display: flex;
  flex-direction: column;
  width: 100%;

  margin: 20px 0 20px;
 
}

.range-output {
  text-align: center;
  margin-bottom: 10px;
  font-size: 20px;
}

.range-labels {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

input[type="range"] {
  background-color: #75B72C;
  margin-bottom: 5px;
  padding: 0;
}

output {
  opacity: .7;
}

.range-labels span {
 opacity: .7;
 font-size: 10px;
}

.data-processing {
  font-size: 14px;

}

.data-processing a {
  text-decoration: none;
  color: #75B72C;

}


/* общий блок для всех элементов */
.deal-wheel {
  /* задаём переменные блока */
  /* размеры колеса */
  --size: clamp(250px, 80vmin, 700px);
  /* настройки яркости и заливки фона секторов */
  --lg-hs: 0 3%;
  --lg-stop: 50%;
  --lg: linear-gradient(
      hsl(var(--lg-hs) 0%) 0 var(--lg-stop),
      hsl(var(--lg-hs) 20%) var(--lg-stop) 100%
    );
  /* добавляем позиционирование относительно других элементов */
  position: relative;
  /* подключаем сетку */
  display: grid;
  grid-gap: calc(var(--size) / 10);
  /* выравниваем содержимое блока по центру */
  align-items: center;
  /* задаём имена областей внутри сетки */
  grid-template-areas:
    "spinner"
    "trigger";
  /* устанавливаем размер шрифта */
  font-size: calc(var(--size) / 21);
}

/* всё, что относится ко внутренним элементам главного блока, будет находиться в области сетки с названием spinner */
.deal-wheel > * {
  grid-area: spinner;
}

/* сам блок и кнопка будут находиться в области сетки с названием trigger и будут выровнены по центру */
.deal-wheel .btn-spin {
  grid-area: trigger;
  justify-self: center;
}

/* сектор колеса */
.spinner {
  /* добавляем относительное позиционирование */
  position: relative;
  /* подключаем сетку */
  display: grid;
  /* выравниваем всё по центру */
  align-items: center;
  /* добавляем элемент в сетку */
  grid-template-areas: "spinner";
  /* устанавливаем размеры */
  width: var(--size);
  height: var(--size);
  /* поворачиваем элемент  */
  transform: rotate(calc(var(--rotate, 25) * 1deg));
  /* рисуем круглую обводку, а всё, что не поместится, — будет скрыто за кругом */
  border-radius: 50%;
}

/* всё, что внутри этого блока, будет находиться в области сетки с названием spinner */
.spinner * {
  grid-area: spinner;
}

/* текст на секторах */
.prize {
  /* включаем «гибкую» вёрстку */
  display: flex;
  align-items: center;
  /* задаём отступы от краёв блока */
  padding: 0 calc(var(--size) / 6) 0 calc(var(--size) / 20);
  /* устанавливаем размеры */
  width: 50%;
  height: 50%;
  /* устанавливаем координаты, относительно которых будем вращать текст */
  transform-origin: center right;
  /* поворачиваем текст */
  transform: rotate(var(--rotate));
  /* запрещаем пользователю выделять мышкой текст на секторах */
  user-select: none;
}

/* язычок */
.ticker {
  /* добавляем относительное позиционирование */
  position: relative;
  /* устанавливаем размеры */
  left: calc(var(--size) / -15);
  width: calc(var(--size) / 10);
  height: calc(var(--size) / 20);
  /* фон язычка */
  background: var(--lg);
  /* делаем так, чтобы язычок был выше колеса */
  z-index: 1;
  /* форма язычка */
  clip-path: polygon(20% 0, 100% 50%, 20% 100%, 0% 50%);
  /* устанавливаем точку, относительно которой будет вращаться язычок при движении колеса */
  transform-origin: center left;
}

/* кнопка запуска колеса */
.btn-spin {
  color: #fff;
  background: #75B72C;
  border: none;
  /* берём размер шрифта такой же, как в колесе */
  font-size: inherit;
  /* добавляем отступы от текста внутри кнопки */
  padding: 0.9rem 2rem 1rem;
  /* скругляем углы */
  border-radius: 0.5rem;
  /* меняем внешний вид курсора над кнопкой на руку*/
  cursor: pointer;
}

/* если кнопка нажата и неактивна */
.btn-spin:disabled {
  /* меняем внешний вид курсора */
  cursor: progress;
  /* делаем кнопку полупрозрачной */
  opacity: 0.25;
}

/* анимация вращения */
.is-spinning .spinner {
  transition: transform 8s cubic-bezier(0.1, -0.01, 0, 1);
}

/* анимация движения язычка */
.is-spinning .ticker {
  animation: tick 700ms cubic-bezier(0.34, 1.56, 0.64, 1);
}


/* эффект, когда колесо задевает язычок при вращении */
@keyframes tick {
  40% {
    /* чуть поворачиваем язычок наверх в середине анимации */
    transform: rotate(-12deg);
  }
}

/* анимируем выпавший сектор */
.prize.selected .text {
  /* делаем текст белым */
  color: white;
  /* настраиваем длительность анимации */
  animation: selected 800ms ease;
}

/* настраиваем анимацию текста на выпавшем секторе по кадрам */
@keyframes selected {
  /* что происходит на 25% от начала анимации */
  25% {
    /* увеличиваем текст в 1,25 раза */
    transform: scale(1.25);
    /* добавляем тексту тень */
    text-shadow: 1vmin 1vmin 0 hsla(0 0% 0% / 0.1);
  }
  40% {
    transform: scale(0.92);
    text-shadow: 0 0 0 hsla(0 0% 0% / 0.2);
  }
  60% {
    transform: scale(1.02);
    text-shadow: 0.5vmin 0.5vmin 0 hsla(0 0% 0% / 0.1);
  }
  75% {
    transform: scale(0.98);
  }
  85% {
    transform: scale(1);
  }
}

.wheel-bg {
  background-color: #fff;
  padding: 40px 60px;
  border-radius: 19px;
  -webkit-box-shadow: 10px 10px 14px -7px rgba(0,0,0,0.3);
  -moz-box-shadow: 10px 10px 14px -7px rgba(0,0,0,0.3);
  box-shadow: 10px 10px 14px -7px rgba(0,0,0,0.3);
}


/* Стили для модального окна */
.modal {
  display: flex; 
  justify-content: center;
  align-items: center;

  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.2);

}

.modal-content {
  border-radius: 9px;
  background-color: #fff;
  
  padding: 20px;
  width: 80%;
  max-width: 400px;
  color: #000;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-content h2 {
  font-size: 40px;
  font-weight: bold;
  color: #75B72C;
  text-align: center;
  margin-bottom: 20px;
}

.modal-content p {
  margin: 20px 0 ;
  font-size: 18px;
  color: rgba(0, 0, 0, .7);
}

.modal-content span {
  font-size: 20px;
  color: rgba(0, 0, 0, .7);
}

.modal-content strong {
  font-size: 20px;
  color: #000;


}

.modalBtn {
  width: 100%;
  padding: 10px 20px;
  background-color: #75B72C;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: #609624;
    transition: .5s;
  }
}